{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/blog_nav.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/back-to-top.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}


    <style type="text/css">

        .barground {
            background: #1b9dec
        }
    </style>

</head>
<body>

<nav class="navbar navbar-fixed-top barground">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LUIS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/blog/">博客</a></li>
                <li><a href="/resource/">学习资源</a></li>
                <li><a href="/blog/content/">联系我</a></li>
            </ul>

            <form class="navbar-form navbar-left" action="{% url 'blog:blog_search' %}">
                <div class="form-group">
                    {% if keyword %}
                        <input type="text" class="form-control" placeholder="请输入搜索的内容" name="keyword"
                               value="{{ keyword }}">
                    {% else %}
                        <input type="text" class="form-control" placeholder="请输入搜索的内容" name="keyword">
                    {% endif %}

                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>

            {#      <ul class="nav navbar-nav navbar-right">#}
            {#        <li><a href="#">登录</a></li>#}
            {#      </ul>#}


            <style type="text/css">

                #div1 {
                    display: none;
                    position: absolute;
                    z-index: 1000;
                    height: 100%;
                    width: 100%;
                    background: #1b9dec;
                    filter: Alpha(opacity=30);
                }

                #div2 {
                    display: none;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    padding-top: 10%;
                    z-index: 1001;
                    left: 0px;
                    top: 0px;
                }
            </style>
            <script>
                function openme() {
                    document.getElementById('div1').style.display = 'block';
                    document.getElementById('div2').style.display = 'block';
                }

                function closeme() {
                    document.getElementById('div1').style.display = 'none';
                    document.getElementById('div2').style.display = 'none';
                }

                function logo_in() {
                    alert()
//验证
//转向...
//myform.action=""
//myform.submit()
                    closeme();
                }
            </script>
            <div id="div1"></div>
            <div id="div2">
                <table width="30%" border="0" cellpadding="3" cellspacing="1"
                       style="text-align: center;background: #ff7300; position:static;filter:progid:DXImageTransform.Microsoft.DropShadow(color=#666666,offX=4,offY=4,positives=true)"
                       align="center">
                    <tr id="m_tr">
                        <td><font color="#FFFFFF">欢迎登陆：</font></td>
                        <td align="right">
                            <input type="button" value="ｘ" onClick="closeme()" style="cursor: hand;">
                        </td>
                    </tr>
                    <tr>
                        <form name="myform" method="post">
                            <td colspan="2" width="100%" bgcolor="#FFFFFF" height="150">
                                username: <input type="text" name="username" size="10">
                                <br>pasword:<input type="password" name="pasword" size="12">
                                <br><input type="button" name="logoin" value="登陆" onClick="logo_in()">
                                <input type="button" name="exit" value="取消" onClick="closeme()">
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
            <div>
                <input name="button" type="button" class="btn-default navbar-right " onClick="openme()" value="登陆"/>
            </div>
            <br>
            <div>
            </div>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


{% block content %}{% endblock %}

<div id="back-to-top">
    <i class="glyphicon glyphicon-arrow-up"></i>
</div>

<footer>
    <div class="footer" role="navigation">
        <div class="container">
            <div class="navbar-text">
                <ul class="footer-text">
                    {#                    <li><a href="#">主页</a></li>#}
                    <li><a href="/blog/">博客</a></li>
                    <li><a href="/blog/content/">联系我</a></li>
                    <li><a href="#">关于博主</a></li>
                    <li><a href="#">文档支持</a></li>

                </ul>
                <p>Copyright © 2019 LUIS </p>

            </div>
        </div>
    </div>
</footer>


<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>
    $("#back-to-top").click(function () {
        window.scrollTo(0, 0);
    });

</script>

{% block script %}{% endblock %}

</body>
</html>